body {
  font-family: "Roboto", sans-serif;
}

.conteiner-wrapper--red {
  background-color: #cc4d08;
  color: white;
}

.alert-container {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0px 0px;
}

.callout-container {
  height: 100vh;

  background: url(../images/whiskey-background.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.opaque-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.page-header {
  margin-bottom: 0;
  border-bottom: 0;
  text-align: center;
}

.page-header h2 {
  margin-top: 0;
}

.quotes .page-header {
  margin-bottom: 25px;
}

.navalert-container {
  position: relative;
  left: 0;
  top: 0;
  padding: 0px 0px;
  z-index: 2;
}

.site-wide-alert {
  border: 0;
  border-radius: 0;
  margin: 0px 0px;
  background-color: rgb(231, 185, 34);
  padding: 4px 15px;
}

/* Navbar */

.navbar {
  margin-bottom: 0;
  width: 100%;
  border: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: absolute;
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar .navbar-nav a {
  font-weight: bold;
}

.dropdown-menu {
  background-color: #e7e7e7ea;
  border-radius: 10px;
}

/* Jumbotron */

.jumbotron {
  background-color: transparent;
}

.jumbotron-header {
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
}

.jumbotron .lead {
  color: #a9a9a9;
  margin: 30px 0px;
}

.jumbotron small {
  font-size: 60%;
  color: #d0d0d0;
  font-style: italic;
}

/* Block Divider */

.block-divider {
  width: 70px;
  height: 5px;
  border: 0px;
  background-color: rgb(92, 92, 92);
}

.block-divider--orange {
  background-color: #cc4c08f2;
}

.block-divider--white {
  background-color: white;
}

.block-divider--short {
  width: 35px;
}

.feature {
  text-align: center;
  margin-bottom: 40px;
}

.feature i {
  margin-bottom: 20px;
  font-size: 45px;
  line-break: 45px;
}

.mark,
mark {
  background-color: #ffffffcc;
}

